{% extends 'base.html' %}
{% block title %}Posts{% endblock %}

{% block content %}
    <form method="GET">
        <div class="d-flex align-items-center justify-content-between">
            <select name="filter" class="form-select mt-3">
                <option value="" {% if not request.GET.filter %} selected {% endif %}>All</option>
                <option value="new" {% if request.GET.filter == "new" %} selected {% endif %}>Newest</option>
                <option value="most_viewed" {% if request.GET.filter == 'most_viewed' %} selected {% endif %}>Most Viewed</option>
                <option value="popular_week" {% if request.GET.filter == 'popular_week' %} selected {% endif %}>Popular This Week</option>
                <option value="popular_month" {% if request.GET.filter == 'popular_month' %} selected {% endif %}>Popular This Month</option>
            </select>
            <input type="submit" class="btn btn-primary mt-3 ms-3" value="Filter">
        </div>
    </form>

    {% for article in object_list %}
    <div class="container-fluid my-3">
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'article_detail' article.pk  %}"><h2>{{ article.title }}</h2></a></span>
            </div>
            {% if article.photo %}
                <img src="{{ article.photo.url }}" alt="{{ article.title }}">
            {%  endif %}
            <div class="card-body">
                {{ article.summary }}...<a href="{% url 'article_detail' article.pk  %}">in detail</a>
                <br>
                <div>
                {% for tag in article.tags.all %}
                    <a href="{% url 'tag_articles' tag_name=tag.name %}">#{{ tag.name }}</a>
                {% endfor %}
                </div>
            </div>
            <div class="card-footer text-left text-muted">
                <span class="text-muted">author {{ article.author | title }} &middot; {{ article.date }}</span>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}