{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid my-3">
        <div class="card">
            <div class="card-body">
                {% if object.photo %}
                    <img class="card-img-top card-img-bottom" src="{{ object.photo.url }}" alt="{{ object.title }}">
                {% endif %}
                <h2 class="card-title">{{ object.title }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">Author: {{ object.author }} | {{ object.date }}</h6>
                <p class="card-text">{{ object.body | safe }}</p>
                <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                <a href="{% url 'article_delete' article.pk %}">Delete</a> |
                <a href="{% url 'article_list' %}">All posts</a>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">Comments</div>
            {%  for comment in article.comments.all %}
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment }}</p>
                        <footer class="blockquote-footer">{{ comment.author }}</footer>
                    </blockquote>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}